* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  line-height: 1.4;
}
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App {
  text-align: center;
  width: 100%;
  flex: 1;
}

button {
  border-radius: 10px;
  background-color: #c7ba6b;
  background: linear-gradient(#f5e882, #c7ba6b);
  border: solid 1px #000000;
  color: #000000;
  font-weight: 600;
  padding: 3px;
}

button:hover,
button:focus {
  color: white;
  background-color: #423e24;
  background: linear-gradient(#423e24, #423e24);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 440px) {
  button {
    max-width: 15em;
  }
}
