section#edit {
  width: 98%;
}
section#edit p.page-instructions {
  text-align: left;
  margin: 16px 2% 8px;
}
.snippet-line {
  display: block;
  position: relative;
  width: 98.75%;
  margin: 0 auto 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #81f986;
  height: auto;
  border-radius: 5px;
  border: solid 2px #111;
  padding-bottom: 3px;
}

.snippet-edit {
  background-color: #81f986;
  width: 100%;
  margin-bottom: -6px;
  border: none;
}
div.snippet-edit:after {
  background-color: #81f986;
}
.snippet-line .snippet-buttons-container {
  display: inline-block;
  width: auto;
  padding: 0;
}

button.snippet-button-talk,
button.snippet-button-edit,
button.snippet-delete {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
  width: 4em;
  height: 1.5em;
  color: black;
  padding: 1px 5px;
  border-radius: 8px;
  font-size: 0.9rem;
}

section#edit .disabled,
div.snippet-line .disabled:after,
div.disabled,
div.disabled:hover,
div.disabled:after {
  color: #666;
  background: none;
  background-color: #ccc;
  background: linear-gradient(#ccc, #ccc);
  border-color: #aaa;
}
/* Make the ellipsis background change background color with everything else */
div.snippet:hover:after,
div.snippet:focus:after {
  background: inherit;
}

/* Tablet or small screen, not phone, 2 snippets across */
@media only screen and (min-width: 472px) {
  /* NOTE: .snippet-line is similar to .page-snippets found in talk.css */
  .snippet-line {
    margin: 0 1% 12px;
    width: 48%;
    display: inline-block;
    position: relative;
    float: left;
    clear: none;
  }
  .snippet-edit {
    width: 100%;
    height: 3.5em;
    float: left;
  }
}

@media only screen and (min-width: 738px) {
  .snippet-line {
    width: 31.3%;
  }
}

/* Non-mobile, snippets  4 snippets across */
@media only screen and (min-width: 1000px) {
  .snippet-line {
    width: 23%;
  }
  .snippet-edit {
  }
}
