section#edit {
  width: 98%;
  margin: 5px auto;
}

.snippet-line {
  position: relative;
  width: 100%;
  display: block;
}

.snippet-edit {
  background-color: #af9;
  background: linear-gradient(#af9, #9e8);
}
