section#edit {
  width: 98%;
  margin: 5px auto;
}

section#edit button {
  width: 100%;
  margin-top: 5px;
  color: black;
  background-color: #cdf;
  background: linear-gradient(#def, #bcf);
}

section#edit button:hover,
section#edit button:focus {
  color: white;
  background-color: #423e24;
  background: linear-gradient(#423e24, #423e24);
}
