.hamburger-container {
  position: fixed;
  top: 2px;
  right: 4px;
  width: 16px;
  background-color: #111;
  width: 24px;
  padding: 0 2px;
  z-index: 200;
  border: solid 1px #111;
  border-radius: 5px;
}
.hamburger-container hr {
  width: 16px;
  margin: 4px auto;
  border: 1px solid white;
}
