header.app-header {
  margin: 0 auto;
  background-color: #111;
}

header.app-header h1 {
  display: inline-block;
  margin: 0;
  color: gold;
  font-size: 1.4rem;
}

header.app-header .app-logo-container {
  margin: 0 0.75rem 0 0;
  width: 7%;
  height: auto;
  display: inline-flex;
  vertical-align: middle;
}
header.app-header .app-logo-container img {
  width: 100%;
  height: 100%;
}

.title-area {
  height: 4em;
  display: block;
  width: 17em;
  margin: 0 auto 25px;
  padding: 6px 0 0;
  width: 100%;
}

nav a {
  display: none;
  width: 100%;
  border-right: none;
  height: 2.5em;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 2px;
  color: black;
  font-weight: bold;
  background-color: #c7ba6b;
  background: linear-gradient(#f5e882, #c7ba6b);
}

nav a:hover,
nav a:focus {
  color: white;
  background-color: #8e8766;
  background: linear-gradient(#8e8766, #8e8766);
}
@media only screen and (min-width: 183px) {
  .title-area {
    height: 1.6em;
    background-color: #111;
    padding-top: 20px;
    display: inline-block;
    /* margin-bottom: -4px; */
  }
  header.app-header .app-logo-container {
    height: auto;
    display: inline-flex;
  }
}

@media only screen and (min-width: 212px) {
  header.app-header .app-logo-container {
    width: 15px;
  }
}
@media only screen and (min-width: 370px) {
  .hamburger-container {
    display: none;
  }
  .title-area {
    height: 2.2em;
    /* width: 18em;*/
    margin: 0 auto 10px;
    padding: 0 0;
  }
  header.app-header .app-logo-container {
    width: 20px;
    margin: 0 20px 0 0;
  }
  header.app-header h1 {
    font-size: 2rem;
  }
  header.app-header img {
    max-width: none;
    margin: 0 1.5rem 0 0;
  }
  header nav {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 99%;
  }
  header nav a {
    display: inline;
    height: 3.5em;
    text-decoration: none;
    padding: 10px 1em;
    background: none;
    color: #ff9;
  }
}
