header.app-header {
  margin: 0 auto;
  background-color: #111;
}

header.app-header h1 {
  display: inline-block;
  margin: 0;
  color: gold;
  font-size: 1.4rem;
}

header.app-header img {
  display: inline-block;
  margin: 0 0.75rem 0 0;
  max-width: 10%;
  height: auto;
  vertical-align: middle;
}

.title-area {
  height: 4em;
  display: block;
  width: 17em;
  margin: 0 auto 25px;
  padding: 6px 0 0;
  width: 100%;
}

nav a {
  display: none;
  width: 100%;
  border-right: none;
  height: 2.5em;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 2px;
  color: black;
  font-weight: bold;
  background-color: #c7ba6b;
  background: linear-gradient(#f5e882, #c7ba6b);
}

nav a:hover,
nav a:focus,
.title-area:focus,
.title-area:hover {
  color: white;
  background-color: #8e8766;
  background: linear-gradient(#8e8766, #8e8766);
}
@media only screen and (min-width: 192px) {
  header.app-header img {
    /* display: inline-block; */
    /* margin: 0 0.75rem 0 0; */
    max-width: 11%;
    /* height: auto;
    vertical-align: middle; */
  }
  .title-area {
    height: 4.3em;
  }
}
@media only screen and (min-width: 193px) {
  header.app-header img {
    max-width: 10%;
  }
  .title-area {
    height: 3.5em;
    /* display: block;
    width: 17em;
    margin: 0 auto 25px;
    padding: 26px 0 0;
    width: 100%; */
  }
}
@media only screen and (min-width: 212px) {
  .title-area {
    height: 4em;
    /* display: block;
    width: 17em;
    margin: 0 auto 25px;
    padding: 26px 0 0;
    width: 100%; */
  }
  header.app-header img {
    /* display: inline-block;
    margin: 0 0.75rem 0 0; */
    height: 3rem;
    /* max-width: none;
    vertical-align: middle; */
  }
}
@media only screen and (min-width: 370px) {
  .hamburger-container {
    display: none;
  }
  .title-area {
    height: 3em;
    /* width: 18em;
    margin: 0 auto 10px;
    padding: 0 0; */
  }
  header.app-header h1 {
    font-size: 2rem;
  }
  header.app-header img {
    max-width: none;
    height: 4rem;
    margin: 0 1.5rem 0 0;
  }
  header nav {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 99%;
  }
  header nav a {
    display: inline;
    height: 3.5em;
    text-decoration: none;
    padding: 10px 1em;
    background: none;
    color: #ff9;
  }
}
