header.app-header {
  margin: 0 auto;
}

header.app-header h1 {
  display: inline-block;
  margin: 1.5rem 0 0;
}

header.app-header h2 {
  margin: 0;
}

header.app-header img {
  display: inline-block;
  margin: 0 1.5rem 0 0;
  height: 4rem;
  vertical-align: middle;
}

nav {
  margin-top: 5px;
}

nav a {
  display: block;
  width: 99%;
  border-right: none;
  height: 1.5em;
  vertical-align: top;
  text-decoration: none;
  padding: 2px 1em;
  margin-bottom: 2px;
  color: black;
  background-color: #c7ba6b;
  background: linear-gradient(#f5e882, #c7ba6b);
}

nav a:hover,
nav a:focus {
  color: white;
  background-color: #423e24;
  background: linear-gradient(#423e24, #423e24);
}

@media only screen and (min-width: 370px) {
  nav a {
    display: inline;
    width: 99%;
    border-right: solid 1px black;
    height: 3.5em;
    vertical-align: top;
    text-decoration: none;
    padding: 2px 1em;
    background: none;
  }

  nav a:last-child {
    border-right: 0;
  }
}
