section#landing form,
section#landing p,
section#landing h3 {
  width: 100%;
  max-width: 25rem;
  padding: 0 1%;
}
section#landing form {
  margin: 2rem auto;
}
section#landing p {
  margin: 1em auto 0;
  text-align: left;
}
section#landing h3 {
  margin: 0 auto;
  display: block;
}

section#landing .button-link {
  background-color: #99f;
  background: linear-gradient(#f5e882, #c7ba6b);
  border: solid 1px #000000;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
}

section#landing .button-link:hover,
section#landing .button-link:focus {
  color: white;
  background-color: #423e24;
  background: linear-gradient(#423e24, #423e24);
}

section#landing form .button-link {
  width: 96%;
  padding: 5px;
  margin: 5px;
  max-width: 17em;
  display: inline-block;
}
