div.snippet {
  display: inline-block;
  color: black;
  /* border-radius: 5px;
  border: solid 2px black; */

  /* hide text if it more than will fit  */
  overflow: hidden;

  /* needed to set '...' in absolute position */
  position: relative;

  line-height: 1.2em;
  padding: 6px 1em;
  text-align: left;
}

div.snippet div {
  max-height: 2.5em;
  overflow: hidden;
}

div.snippet:after {
  /* elipsis at the end. Note that "text-overflow: ellipsis;" only works with a single line (as of Nov 17, 2018; hopefully this will change someday). That is why we have to use :after like this and then, if we are really clever, use JS to hide the elipsis if the content is short enough (which requires math and gets complicated with variable-width characters, e.g., "w" as opposed to "i", but we could come close enough with a little more work).  */
  content: "...";

  position: absolute;
  /* set position to right bottom corner of block */
  right: 4px;
  bottom: 5px;
  width: 1.2em;
}

div.snippet:hover,
div.snippet:focus,
div.snippet:focus-within {
  color: white;
}
/* div.snippet-line:hover, */
div.snippet:hover {
  background-color: #625e44;
  background: linear-gradient(#625e44, #625e44);
}

div.snippet:focus,
div.snippet:focus-within {
  background-color: #423e24;
  background: linear-gradient(#423e24, #423e24);
}

@media only screen and (min-width: 636px) {
  div.snippet,
  div.snippet-edit {
    text-align: left;
  }
}
