button.snippet-delete:hover,
button.snippet-delete:focus,
button.snippet-button-edit:hover,
button.snippet-button-edit:focus,
button.snippet-delete:hover,
button.snippet-delete:focus {
  color: white;
  background-color: #423e24;
  background: linear-gradient(#423e24, #423e24);
}

button.snippet-button-talk:disabled,
button.snippet-button-edit:disabled,
button.snippet-delete:disabled {
  color: #666;
  font-weight: normal;
  background: none;
  background-color: #ccc;
  border-color: #aaa;
}

@media only screen and (min-width: 636px) {
  button.snippet-delete {
    position: relative;
  }
}
