main div.write #spelling-area {
  clear: both;
  text-align: center;
  /* display: none; */
}

main div.write #spelling-area p {
  font-size: 1.2rem;
  margin: 0;
}

main div.write #spelling-area #spelling-info {
  box-sizing: border-box;
  background-color: #fea;
  text-align: left;
  padding: 8px;
  width: 90%;
  margin: 0 auto;
}

main div.write #spelling-area #spelling-choices {
  background-color: #fea;
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

main div.write #spelling-area ul {
  font-size: 1.2rem;
  margin: 0;
}

main div.write #spelling-area #spelling-choices li {
  display: inline-block;
}

main div.write #spelling-area #spelling-choices li a {
  font-size: 1.2rem;
  padding: 15px 25px;
  margin: 1px 0;
  line-height: 3em;
}

main div.write #spelling-area fieldset {
  border: none;
  box-sizing: border-box;
}

main div.write #spelling-area button.spelling {
  text-decoration: none;
  display: inline-block;
  padding: 13px 10px;
  margin: 0 0.65%;
  width: 48.7%;
}

main div.write #spelling-area #more-container {
  display: block;
  width: 100%;
}

main div.write #spelling-area button#more-words {
  padding: 15px 25px;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  color: #0000cc;
}

main div.write #spelling-area button#more-words:hover,
main div.write #spelling-area button#more-words:focus {
  color: white;
  background-color: #423e24;
  background: linear-gradient(#423e24, #423e24);
}

main div.write #spelling-area a {
  text-decoration: none;
}

main div.write #spelling-area a:hover,
main div.write #spelling-area a:focus {
  color: white;
  background-color: #423e24;
}
