p.page-instructions {
  text-align: left;
  margin: 16px 2% 4px;
  clear: both;
}

.page-snippets {
  display: block;
  width: 98.75%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snippet-talk {
  border-collapse: collapse;
  width: 100%;
  background-color: #cdf;
  border-radius: 5px;
  border: solid 1px #111;
}
div.snippet:after {
  background-color: #cdf;
}

/* Tablet or small screen, not phone, 2 snippets across */
@media only screen and (min-width: 440px) {
  section {
    padding-left: 2%;
    padding-right: 2%;
  }
  .page-snippets {
    width: 100%;
    display: block;
  }
  .snippet-talk {
    margin: 6px 1%;
    width: 48%;
    height: 3.5em;
    float: left;
  }
  .snippet-talk div {
    height: 2.6em;
  }
  div.snippet:after {
    bottom: 14;
  }
}
@media only screen and (min-width: 540px) {
  section {
    padding-left: 3%;
    padding-right: 3%;
  }
  .page-snippets {
    margin: 0 0.9%;
  }
  .snippet-talk {
    width: 31%;
    float: left;
  }
  div.snippet:after {
    content: "...";

    position: absolute;
    /* set position to right bottom corner of block */
    right: 4px;
    bottom: 5px;
    width: 1.2em;
  }
}

/* Non-mobile, snippets  4 snippets across */
@media only screen and (min-width: 640px) {
  section {
    padding-left: 4%;
    padding-right: 4%;
  }
  .page-snippets {
    margin: 0 1%;
  }
  .snippet-talk {
    width: 22%;
    float: left;
  }
}
