p.page-instructions {
  text-align: left;
  margin: 16px 12px 4px;
  clear: both;
}

.page-snippets {
  display: block;
  width: 98.75%;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snippet-talk {
  margin: 0.5% 3px;
  border-collapse: collapse;
  width: 100%;
  background-color: #cdf;
  background: linear-gradient(#def, #bcf);
}

/* Tablet or small screen, not phone, 2 snippets across */
@media only screen and (min-width: 440px) {
  .page-snippets {
    margin: 0 0.5%;
    width: 100%;
    display: block;
  }
  .snippet-talk {
    margin: 2px 0.25%;
    width: 49%;
    height: 4em;
    float: left;
  }
}
@media only screen and (min-width: 540px) {
  .page-snippets {
    margin: 0 0.9%;
  }
  .snippet-talk {
    margin: 2px 0.3%;
    width: 32.1%;
    float: left;
  }
}

/* Non-mobile, snippets  4 snippets across */
@media only screen and (min-width: 640px) {
  .page-snippets {
    margin: 0 1%;
  }
  .snippet-talk {
    margin: 3px 0.25%;
    width: 24%;
    float: left;
  }
}
