section#writing-area {
  margin: 0;
}

form#writing {
  width: 100%;
  padding: 0;
}

form#writing fieldset {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
}

form#writing fieldset#write-box {
  display: inline-block;
  margin: 0 0 0.5rem;
  padding: 0;
  width: 100%;
  height: 140px;
}

form#writing fieldset#write-box label {
  text-align: left;
  display: block;
  margin-left: 1.5%;
}

form#writing fieldset#write-box textarea {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2px 5px;
  height: 110px;
  width: 98%;
  border: solid 2px #999999;
  font-size: 1.2rem;
  resize: none;
}

form#writing fieldset#write-box textarea:hover,
form#writing fieldset#write-box textarea:focus {
  outline: none !important;
  border: dashed 2px #999999;
  background-color: white;
}

fieldset#box-buttons {
  margin: 0;
}

fieldset#box-buttons button {
  margin: 4px auto 0;
  width: 97%;
  padding: 6px;
  height: auto;
  clear: both;
}

fieldset#box-buttons button:hover,
fieldset#box-buttons button:focus {
  color: white;
  background-color: #423e24;
}

fieldset#box-buttons :first-child {
  margin-top: 0;
}

@media only screen and (min-width: 370px) {
  fieldset#box-buttons {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 400px) {
  section#writing-area {
    width: 100%;
  }
  section#writing-area fieldset#write-box {
    width: 61%;
    padding-left: 2%;
    float: left;
    clear: none;
    display: inline-block;
  }
  form#writing fieldset#box-buttons {
    height: 110px;
    width: 39%;
    float: left;
    display: block;
    margin-top: 21px;
    padding-top: 3px;
  }
  fieldset#box-buttons button {
    width: 90%;
    clear: none;
    display: block;
  }
}
@media only screen and (min-width: 773px) {
  section#writing-area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  section#writing-area fieldset#write-box {
    width: 65%;
  }
  form#writing fieldset#box-buttons {
    width: 34.5%;
  }

  nav li {
    width: 85%;
  }

  header#intro img {
    width: 90%;
  }
}

@media only screen and (min-width: 1000px) {
  section#writing-area {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
