section#writing-area {
  margin: 0;
}

section#writing-area form#writing {
  width: 100%;
  padding: 0;
  /* margin: 0 0 10px; */
}

section#writing-area form#writing fieldset {
  display: block;
  margin: 0;
  padding: 0;
  /* float: left; */
  width: 100%;
  border: none;
}

section#writing-area form#writing fieldset#write-box {
  display: inline-block;
  margin: 0 0 0.5rem;
  /* margin: 0.5rem 0; */
  padding: 0;
  width: 100%;
  height: 11rem;
}

fieldset#write-box label {
  text-align: left;
  display: block;
  margin-left: 1.5%;
}

section#writing-area form#writing fieldset#write-box textarea {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2px 5px;
  height: 10rem;
  width: 98%;
  border: solid 2px #999999;
  font-size: 1.2rem;
  resize: none;
}

section#writing-area form#writing fieldset#write-box textarea:hover,
section#writing-area form#writing fieldset#write-box textarea:focus {
  outline: none !important;
  border: dashed 2px #999999;
  background-color: white;
}

section#writing-area form#writing fieldset#box-buttons {
  margin: 0;
}

section#writing-area form#writing fieldset#box-buttons button {
  margin: 4px auto 0;
  width: 97%;
  /* padding-top: 13px;
  padding-bottom: 13px; */
  padding: 6px;
  height: auto;
  clear: both;
}

section#writing-area form#writing fieldset#box-buttons button:hover,
section#writing-area form#writing fieldset#box-buttons button:focus {
  color: white;
  background-color: #423e24;
}

section#writing-area form#writing fieldset#box-buttons :first-child {
  margin-top: 0;
}

/* section#writing-area form#writing fieldset#box-buttons :last-child {
  margin-bottom: 0;
} */
