<button type="button" name="snip01" id="snip01" value="Mom">Mom</button>
<button type="button" name="snip02" id="snip02" value="Dad">Dad</button>
<button type="button" name="snip03" id="snip03" value="I am hungry">I am hungry</button>
<button type="button" name="snip04" id="snip04" value="I love you">I love you</button>
<button type="button" name="snip05" id="snip05" value="Once upon a time, when it was a dark and stormy night, there was a terrible...">Once upon a time, when it was a dark and stormy night, there was a terrible...</button>
<button type="button" name="snip06" id="snip06" value="Joe is my best friend. I know you will like him.">Joe is my best friend. I know you will like him.</button>