<section id="spelling-area">
  <p id="spelling-info"></p>
  <form action="#" id="spelling-actions" method="get" name="spelling-choices">
    <p>
      <- spelling area ->
    </p>
    <h2>Instead of &quot;banna,&quot; did you mean any of these?</h2>
    <h3>Click the one you want</h3>
    <ul id="spelling-choices">
      <li>banana</li>
      <li>bandana</li>
      <li>bananas</li>
      <li>bandwagon</li>
      <li>Santana</li>
    </ul>
    <div id="more-container">
      <button accesskey="m" class="spelling" id="more-words" name="more-words" type="submit" value="">
        More
      </button>
    </div>
    <fieldset id="spelling-alt-actions">
      <button accesskey="n" class="spelling spelling-button" id="ignore" name="ignore" type="submit" value="Ignore Spelling">
 Ignore
</button>
    </fieldset>
  </form>
</section>