* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
  box-sizing: border-box;
}

button {
  background-color: #99f;
  background: linear-gradient(#f5e882, #c7ba6b);
  border: solid 1px #000000;
  font-family: "EB Garamond", serif;
  color: #000000;
  font-weight: 600;
}

button:hover,
button:focus {
  color: white;
  background-color: #423e24;
  background: linear-gradient(#423e24, #423e24);
}
